nav {
  width: 100%;
  background-color: lightblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  /* position: fixed; */
}

/* nav img {
  width: 130px;
  margin-left: 70px;
} */

nav h2 {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  font-family: 'Alegreya Sans', sans-serif;
}

.list-menu {
  display: flex;
  justify-content: space-between;
}

.list-items a {
  font-weight: bold;
  margin-right: 50px;
  text-decoration: none;
  color: black;
}

.list-items a:hover {
  color: darkblue;
}

.burger-menu img {
  display: none;
  height: 30px;
  width: 30px;
  margin-right: 30px;
  /* overflow: hidden; */
}


@media screen and (max-width: 692px) {
  .list-items a {
    display: none;
  }

  .modal-content .list-items a{
    display: block;
  }

  .burger-menu img {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 520px) {
  nav h2 {
    margin-left: 30px;
  }
  .list-items a {
    margin-right: 40px;
    font-size: 14px;
  }
}

